.text-area {
  /* border: 1px solid orange; */
  border-radius: 0.2rem;
  resize: none;
  outline: none;
  padding: 0.2em;
  min-width: 50vh;
}

.send-chat {
  position: relative;
  top: -35px;
  left: 285px;
  /* border: 1px solid red; */
  cursor: pointer;
  display: block;
  width: 50px;
}

textarea[placeholder] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 4px;
}
